In [18]:
l = [1,2,3,4,"sudh","kumar",45.02]

In [22]:
for i in l:
    print (i)

1
2
3
4
sudh
kumar
45.02

In [23]:
for i in l:
    pass

In [24]:
s="sudh"

In [25]:
for i in s:
    print(i)

s
u
d
h

In [26]:
for i in l:
    print(i)
else :
    print ("if for loop is going")

1
2
3
4
sudh
kumar
45.02
if for loop is going

In [27]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.02]

In [34]:
for i in l:
    if i==4:
        break
    print(i)
else :
    print ("if for loop is going")

1
2
3

In [36]:
s="sudhanshu"
for i in s:
    if i=="z":
        break
    print(i)
else:
    print('print string',s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [44]:
t=(1,2,3,"sudh",77.02)
for i in t:
    print(i)

1
2
3
sudh
77.02

In [47]:
b={1,2,3,5,6,8,8,8,89,9,9,"sudh"}

In [48]:
b

{1, 2, 3, 5, 6, 8, 89, 9, 'sudh'}

In [49]:
for i in b:
    print(i)

1
2
3
sudh
5
6
8
9
89

In [50]:
d={"key1":9826, "contact":5699, "instute":"ineuron"}

In [51]:
d

{'key1': 9826, 'contact': 5699, 'instute': 'ineuron'}

In [57]:
for i in d:
    print(i)

key1
contact
instute

In [62]:
for i in d:
    print(d[i])

9826
5699
ineuron

In [60]:
for i in d:
    print(i,'=',d[i])

key1 = 9826
contact = 5699
instute = ineuron

In [63]:
range(9)

range(0, 9)

In [65]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [67]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [71]:
list (range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
list (range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:

n = 5
for i in range(5):
    for j in range(0, i+1) :
        print  ( "sudh" , end = "  ")
    print ("\n")

sudh

sudh  sudh

sudh  sudh  sudh

sudh  sudh  sudh  sudh

sudh  sudh  sudh  sudh  sudh

In [99]:
n = 3
for i in range(3):
    for j in range(0, i+1) :
        print  ( "sudh" , end = "  ")
    print ("\n")

sudh

sudh  sudh

sudh  sudh  sudh

In [112]:
t= (3,3,66,4,8,5,6,95,2,)

In [128]:
for i in range(len(t)):
          print(i, t[i])

0 3
1 3
2 66
3 4
4 8
5 5
6 6
7 95
8 2

In [129]:
s='ineuron'

In [145]:
for i in range(len(s)):
    print (i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [149]:
s

'ineuron'

In [164]:
for i in range(len(s)-1,-1,-1):
    print (i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [165]:
d

{'key1': 9826, 'contact': 5699, 'instute': 'ineuron'}

In [168]:
for i in d.items():
    print(i)

('key1', 9826)
('contact', 5699)
('instute', 'ineuron')

In [173]:
for i in d.items():
    print(i, type [i])

('key1', 9826) type['key1', 9826]
('contact', 5699) type['contact', 5699]
('instute', 'ineuron') type['instute', 'ineuron']

In [176]:
for i in d.items():
    print(i, type (i), type (i[1]))

('key1', 9826) <class 'tuple'> <class 'int'>
('contact', 5699) <class 'tuple'> <class 'int'>
('instute', 'ineuron') <class 'tuple'> <class 'str'>

In [209]:
l=["sumar" , "sudh", 98659, True, 5688, 773,]
l2+[]
for i in l:
    if type (i) == int:
        l2.append(i)

In [210]:
l2

[98659, 5688, 773, 98659, 5688, 773]

In [211]:
d= {1:989898, "name":"sudh", "email":"ineuron.com", 234:"bhhjhaej",899:99888}

In [212]:
d

{1: 989898,
 'name': 'sudh',
 'email': 'ineuron.com',
 234: 'bhhjhaej',
 899: 99888}

In [215]:

for i in d.keys():
    if type (i) == int:
        print (i)

1
234
899

In [216]:
for i in d.keys():
    if type (i) == int:
        print (i,":",d[i])

1 : 989898
234 : bhhjhaej
899 : 99888

In [223]:
s="aaaabbccd"

In [225]:
set(s)

{'a', 'b', 'c', 'd'}

In [228]:
s.count("a")

4

In [231]:
for i in set (s):
    print(i,":",s.count(i))

a : 4
d : 1
c : 2
b : 2

In [247]:
t=("sudh","kumar",(1,2,3,),[1,3,5,],{3:"key","z":9899})

In [252]:
for i in t:
    if type (i) == tuple or type (i) == list or type(i)==dict:
        for j in i :
            if j==3:
                print(j)
    if type (i) ==dict:
        print (i)
        for k in i.items():
            print (k)

3
3
{'key': 1899, 'z': 9899}
('key', 1899)
('z', 9899)

In [253]:
d={4:5,"key1":"sudh","key2":"kumar"}

In [260]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [261]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])