In [6]:
price = int(input())
if price < 500 :
    print (" i can buy anything")
    if price < 400 :
        print ("buy jacket")
    elif price < 300 :
        print ("buy shirt")
    else :
        print ("can not buy anything")
else :
    print ("can not buy with this price tag")

200
 i can buy anything
buy jacket

In [10]:
price = int(input())
if price < 500 :
    print (" i can buy anything")
    if price < 400 :
        print ("buy jacket")
    elif price < 300 :
        print ("buy shirt")
    else :
        print ("can not buy anything")
else :
    print ("can not buy with this price tag")
    if price > 500:
        print ("lets try something else")

600
can not buy with this price tag
lets try something else

In [35]:
marks = int(input()) 
if marks < 600 :
        print ("Not GRE")
        if marks < 500 :
            print ("TOEFL")
            if marks <400 :
                print ("try something else")
            else :  
                print("u got toefl")
else :
    print ("congrats")

300
Not GRE
TOEFL
try something else

In [39]:
val = float(input("enter floating point number"))
if val >= 0 :
    if val == 0 :
        print ("entered value is 0")
    else :
        print ("entered value is positive")
else :
    print ("entered number is negative number")

enter floating point number0
entered value is 0

In [49]:
a  = 10
if a<10 or a>10 :
    print("try to do somthing")

In [51]:
a  = 10
if a<10 and a==10 :
    print("try to do somthing")

In [55]:
a ="sudh"
if a=="sudh" and a=="sudh" :
    print ("this is sudh")

this is sudh

In [60]:
a = 10
b = 11
c = 12
d = 13
if a==9 or b==11 and c ==12 and d==13 :
    print ("try to do something")

try to do something

In [71]:
d = {"key1" : "value", "key2" : "sudh", "key3" : "ineuron"}

In [77]:
if d["key1"] > "value" and d["key2"]=="sudh" and d["key3"]=="ineuron":
    print ("all the values aree varified")
    print (d.values())
else :
    print("all the values are not vatified")

all the values are not vatified

In [73]:
d

{'key1': 'value', 'key2': 'sudh', 'key3': 'ineuron'}

In [96]:
l=[1,2,3,4,"sudh",34.05]

In [97]:
l[0]

1

In [98]:
l[0:5]

[1, 2, 3, 4, 'sudh']

In [102]:
for i in l:
    if type(i)== int or type(i) == float :
        print(i+1)
    elif type(i) == str:
        print (i+str(1))

2
3
4
5
sudh1
35.05

In [89]:
l

[1, 2, 3, 4, 'sudh', 34.05]

In [103]:
l2=[1,12,3,3.4,.65,5.01]

In [104]:
l2

[1, 12, 3, 3.4, 0.65, 5.01]

In [108]:
for k in l2:
    print (k+1)

2
13
4
4.4
1.65
6.01

In [109]:
l

[1, 2, 3, 4, 'sudh', 34.05]

In [116]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)